html, body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-size: 18px;
  font-family: monospace;
}

header {
  background-color: #E8E8E8;
  padding: 0;
  overflow: auto;
}

header nav {
  display: flex;
  justify-content: right;
}

header nav a {
  width: 25%;
  text-align: center;
  border-left: black 1px solid;
  border-bottom: black 1px solid;
  padding: 16px;
  margin: 0px;
  display: block;
  color: black;
  font-size: 0.9em;
}

header nav a:hover {
  background-color: #FFFFFF;
}

footer {
  background-color: #E8E8E8;
  padding: 8px;
  padding-bottom: 16px;
  border-top: black 1px solid;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  padding: 0;
}

.center {
  padding: 16px 10%;
  text-align: center;
}

.body {
  padding: 8px 10%;
}

.logo {
  height: 128px;
  width: auto;
  padding: 8px;
  margin: 0px;
  text-align: center;
}

.logo img {
  height: 128px;
  width: auto;
  image-rendering: pixelated;
}

.dropdown {
  padding: 4px;
  text-align: center;
}

.dropdown label {
  line-height: 36px;
}

.dropdown select {
  padding: 8px;
  text-align: center;
  background-color: aliceblue;
}

.djinn {
  text-align: center;
  width: 90%;
  padding: 8px;
  margin: auto;
  margin-bottom: 4px;
}

.djinn section {
  display: flex;
}

.djinn img {
  margin: auto;
  width: 64px;
  height: auto;
}

.djinn .image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.djinn .info {
  width: 70%;
}

.djinn p {
  text-align: right;
}

.venus {
  border: gold 4px solid;
  border-radius: 8px;
}

.mercury {
  border: aqua 4px solid;
  border-radius: 8px;
}

.mars {
  border: orangered 4px solid;
  border-radius: 8px;
}

.jupiter {
  border: mediumpurple 4px solid;
  border-radius: 8px;
}

.summon {
  border: lightgrey 4px solid;
  border-radius: 8px;
}
